@model FinalPtoject.Models.Usersall

@{
    ViewData["Title"] = "addadmin";
}


<h4>userall OFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addadmin" id="register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="passwordlabel" class="control-label" id="passwordlabel"></label>
                <input asp-for="password" class="form-control" id="pass1" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label name="confirmpasslabel" class="control-label" id="confirmpasslabel"></label>
                <input name="confirmpass" class="form-control" id="pass2" />

            </div>
            <div class="form-group">
                <button onclick="confirmpass()" type="submit" value="Create" class="btn btn-primary">SUBMIT</button>
            </div>
            <div class="form-group">
                <label name="msg" class="control-label" id="msg"></label>
            </div>
            <p style="color:red">@ViewData["message"]</p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>

    function Pass() {

        var pss = document.getElementById("pass1").value;
        var psscon = document.getElementById("pass2").value;

        if (pss !== psscon) {
            pass1t.style.color = "red";
            pass2t.style.color = "red";
            alert(" Password and password confirmation not match!")

            return false
        } if (!document.getElementById("pol").checked) {

            alert("Please click agree button!");

            document.getElementById("aLabel").style.color = "red";
            document.getElementById("aLabel").classList.add("invalid-label");


            return false;
        }

        return true;
    }


</script>