
@{
    ViewData["Title"] = "admin_home";
	
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<style>
 body {
 margin: 0;
		background-image: url('/images/bkgr.jpeg');
  background-position: center;
  background-repeat: no-repeat;}

nav {
	display: flex;
  background-color: #000000;
	color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 10px;}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;}

nav li {
	margin-right: 20px;}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	transition: all 0.3s ease-in-out;}

nav a:hover {
	color:  #94132f;}


 </style>

<body>

	<h1>Welcome @ViewData["NAME"]</h1>


</body>