<body>
    <div class="row">
        <div class="col-md-4">
        <form asp-action="login" id="login-form">
                <h1>Login</h1>
                <label for="username">Username:</label> <br />
                <input type="text" id="username" name="na" maxlength="12" required><br />
            
            <label for="password">Password:</label> <br />
                <input type="password" id="password" name="pa" required> <br />

            <label>
                <input type="checkbox" name="auto"> Remember me
            </label><br>

            <p class="error">
                @ViewData["Message"]
            </p>

            <button class="btn btn-success" type="submit">Login</button>
        </form>

        <p>Don't have an account? <a asp-action="registration">Register here</a></p>
    </div>
    </div>
</body>