
@{
    ViewData["Title"] = "login";
}


<h2>login</h2>
<body>
    <div class="main">
        <h1>Login</h1>
        <form asp-action="login" id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="na" maxlength="12" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="pa" required>
            <label><input type="checkbox" name="auto"> Remember me</label><br>
            <p class="error">
                @ViewData["Message"]
            </p>
            <button class="btn btn-success" type="submit">Login</button>

        </form>
        <p>Don't have an account? <a asp-action="registration">Register here</a></p>
    </div>
</body>

</html>