
@{
    ViewData["Title"] = "statis";
}

<h1>statis</h1>

<html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'items');
        data.addRows([
            ['Face', @ViewData["d1"]],
            ['Lip', @ViewData["d2"]]
        ]);
        var options = {
            'title': 'Number of items',
            'width': 400,
            'height': 300
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<body>
    <div id="chart_div"></div>

    <div class="row">

        <div class="col-md-3">
            <div class='card'>
                <div class='card-header bg-warning text-center'>Face Products</div>
                <div class='card-body'><img src='~/images/bst4.jpeg' ; width='90px'></div>
                <div class='card-footer'>
                    Number of Items <div> @ViewData["d1"] </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class='card'>
                <div class='card-header bg-warning text-center'>Lip Products</div>
                <div class='card-body'><img src="~/images/bst7.jpeg" width='90px'></div>
                <div class='card-footer'>
                    Number of Items <div>@ViewData["d2"] </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class='card'>
                <div class='card-header bg-warning text-center'>Total Products</div>
                <div class='card-body'><img src="~/images/bst1.jpeg" width='90px'></div>
                <div class='card-footer'>
                    Number of Items <div>"8" </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class='card'>
                <div class='card-header bg-warning text-center'>Lip Products</div>
                <div class='card-body'><img src="~/images/bst4.jpeg" width='90px'></div>
                <div class='card-footer'>
                    Number of Items <div>"9" </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>